# Ignore Node.js dependencies
node_modules/

# Ignore environment files
.env

# Ignore log files
logs/

# Ignore IDE and editor specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store

# Ignore user specific files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore config files with sensitive information
config.json
